


$charcoal-grey: #373d40;
$greeny-blue: #49c8a8;
$tiffany-blue: #60e6c5;
$cloudy-blue-two: #b1bfcd;
$pale-grey: #f5f8f9;
$black: #383838;
$tangerine: #ff9500;
$sunflower-yellow: #ffd500;
$cloudy-blue: #cad7dd;


// MEDIA QUERY MANAGER

@mixin respond-phone {
    @media (max-width: 600px) { @content };
}

@mixin respond-tablet {
    @media (max-width: 600px) { @content };
}

@mixin respond-desktop {
    @media (max-width: 600px) { @content };
}
/*
$breakpoint argument choices:
-phone
-tablet
-desktop
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 600px) { @content };
    
    }
    @if $breakpoint == tablet {
        @media (max-width: 900px) { @content };

}
    @if $breakpoint == desktop {
        @media (min-width: 1000px) { @content };

}

}