


$charcoal-grey: #373d40;
$greeny-blue: #49c8a8;
$tiffany-blue: #60e6c5;
$cloudy-blue-two: #b1bfcd;
$pale-grey: #f5f8f9;
$black: #383838;
$tangerine: #ff9500;
$sunflower-yellow: #ffd500;
$cloudy-blue: #cad7dd;
